.astro-code {
    border-radius: 0.5em;
    padding: 1em;
    /* margin: 1em; */
    /* border: 1px solid black; */
    /* box-shadow: 2px 2px #999999; */
    background-color: gray;
}
p {
    overflow-x: scroll;
}
pre {
    overflow-x: scroll;
}
img {
    max-width: 600px;
}